.button__select {
    position: relative;
    display: inline-block;
}

.user__tools div {
    display: inline-block;
}

.user__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #EFEFEF;
}

.row {
    position: absolute;
    top: 40%;
    padding-left: 10px;
}

.select__wrapper {
    position: absolute;
    left: -220px;
    width: 368px;
    padding: 20px 32px 0 32px;
    background-color: white;
    border: 1px solid #EAF0FA;
    border-radius: 4px;
    box-shadow: 4px 16px 50px 0px #8187A33D;
}