/* Section settings */
.container {
    padding: 0 120px;
}

.balance__and__days {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 0 14px 0;
}

.balance {
    display: flex;
    justify-content: space-between;
    width: 145px;
    height: 40px;
    padding: 0 12px;
    margin-right: 48px;
    border-radius: 48px;
    background-color: #ffffff;

}

.balance__header {
    font-size: 14px;
    align-self: center;
    color: #899CB1;
}

.balance__value {
    color: #122945;
}

.balance__icon {
    padding-top: 8px;
    cursor: pointer;
}

.balance__value:hover {
    color: #0024CB;
}

.balance__icon:hover svg path {
    fill: #0024CB;
}

.balance__icon:active svg path {
    fill: #274BC8;

}

.separator {
    flex-grow: 0;
}

.block__settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.search__item {
    display: flex;
    align-items: center;
}

.search__item__wrapper {
    padding-right: 12px;
}

.setting__items__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
}

.search__heading {
    color: rgba(94, 119, 147, 1);
}

.item__clearSetting {
    display: flex;
    align-items: center;
    margin-right: 51px;
    cursor: pointer;
}

.item__heading {
    padding-right: 8px;
    color: rgba(94, 119, 147, 1);
}

/* section content */


.content__data {
    background-color: #ffffff;
}



table.table__data {
    max-width: 1440px;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}



.table__header__data__row {
    height: 61px;
    align-items: start;
    border-bottom: 1px solid rgba(234, 240, 250, 1)
}

tr.table__header__data__row th {
    color: rgba(137, 156, 177, 1);
    font-weight: 400;
    text-align: start;
}

thead.table__data__header th:nth-child(1) {
    padding-left: 40px;
    width: 6.458%;
}

thead.table__data__header th:nth-child(2) {
    width: 6.181%;
}

thead.table__data__header th:nth-child(3) {
    width: 8.889%;
}

thead.table__data__header th:nth-child(4) {
    width: 22.639%;
}

thead.table__data__header th:nth-child(5) {
    width:14.861%;
}

thead.table__data__header th:nth-child(6) {
    width: 13.75%;
}
thead.table__data__header th:last-child {
    padding-right: 40px;
    text-align: end;
}