.form {
    display: flex;
}

.input__twoSimbol,
.input__fourSimbol,
.calendar__icon {
    all: unset;
}

.input__twoSimbol {
    max-width: 18px;
}

.input__fourSimbol {
    max-width: 33px;
}

.calendar__icon:hover svg path {
    fill: rgba(0, 44, 251, 1);
}