.form {
    display: flex;
}


.input__twoSimbol {
    max-width: 18px;
}

.input__fourSimbol {
    max-width: 33px;
}

.calendar__icon:hover svg path {
    fill: rgba(0, 44, 251, 1);
}

.calendar__icon,
.input__fourSimbol,
.input__twoSimbol {
    border: none;
}

.input__twoSimbol:active,
.input__twoSimbol:hover,
.input__twoSimbol:focus,
.input__fourSimbol:active,
.input__fourSimbol:hover,
.input__fourSimbol:focus,
.calendar__icon:active,
.calendar__icon:hover,
.calendar__icon:focus {
    outline: 0;
    outline-offset: 0;
}