.header__wrapper {
    grid-area: header;
    background-color: white;
}

.container {
}

.inform {

}

.current_day {
    font-weight: 400;
    font-size: 15px;
    color: #899CB1;
}

.statusbar__block{
}

.section__tools {
    background-color: white;
}