.header__wrapper {
    grid-area: header;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

.container {
    display: flex;
    height: 64px;
}

.logo {
    flex-shrink: 0;
    width: 240px;
    height: 64px;
    padding-top: 20px;
    padding-left: 12px;
    background-color: #091336;
}

.content__wrapper {
    display: flex;
    width: 100%;
    padding: 0 120px;
    height: 64px;
}

.statusbar__block {
    display: inline-block;
    min-width: 535px;
}

.current_day {
    display: inline-block;
    align-self: center;
    margin-right: 83px;
    font-weight: 400;
    font-size: 15px;
    color: #899CB1;
}

.tools {

}